.testimonial-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.testimonial {
  background-color: #2545B8;
  color: #FFFFFF;
  display: inline-flex;
  margin-top: 8em;
}

.testimonial-container {
  display: flex;
  position: relative;
}

.testimonial-mobile {
  max-width: 376px;
  flex-direction: column;
  padding: 0 1em;
  top: -6em;
}

.testimonial-desktop {
  gap: 2em;
  align-items: center;
  padding: 0 4.5em;
}

.testimonial-img {
  border-radius: .75em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1),
              0 10px 10px -5px rgba(0, 0, 0, .04);
}

.testimonial-mobile .testimonial-img {
  height: 13em;
  width: 100%;
}

.testimonial-desktop .testimonial-img {
  /* width: 25%; */
  width: 300px;
  height: 110%;
}

.testimonial-figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  line-height: 1.5;
}

.testimonial-mobile .testimonial-figure {
  position: relative;
  top: 3em;
}

.testimonial-desktop .testimonial-figure {
  margin: 4em 0;
}

.testimonial-quote {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
}

.testimonial-name {
  font-weight: 700;
}