.badge {
  display: inline-block;
  padding: .125em .75em;
  border: 1px solid black;
}

.badge.square {
  border-radius: .25em;
}

.border.pill {
  border-radius: .75em;
}

.badge-text {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}