.badge {
  display: inline-flex;
  padding: .125em .75em;
  background-color: #F3F4F6;
  color: #1F2937;
}

.badge.square {
  border-radius: .25em;
}

.badge.pill {
  border-radius: .75em;
}

.badge-text {
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: capitalize;
}