.testimonial {
  display: inline-flex;
  justify-content: center;
  background-color: #F9FAFB;
  color: #111827;
  position: relative;
}

.testimonial.mobile {
  max-width: 376px;
  padding: 4em 1em;
}

.testimonial-with-img {
  margin-top: 6em;
  background-color: #2545B8;
  color: #FFFFFF;
}

.testimonial-with-img.mobile {
  padding: 0 1em 4em;
}

.bottom-right-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonial.mobile .bottom-right-img {
  width: 60%;
}

.testimonial.desktop .bottom-right-img {
  max-width: 15em;
  width: 100%;
}

.testimonial-inner {
  display: flex;
  z-index: 1;
}

.testimonial-inner.mobile {
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.testimonial-inner.desktop {
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 4em 4.5em;
}

.testimonial-with-img .testimonial-inner.desktop {
  padding: 0 4.5em;
  flex-direction: row;
}

.headshot {
  border-radius: .75em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1),
              0 10px 10px -5px rgba(0, 0, 0, .04);
}

.headshot.mobile {
  height: 12em;
  width: 100%;
  
  position: relative;
  top: -6em;
  margin-bottom: -6em;
}

.headshot.desktop {
  width: 35%;
  height: 110%;
}

.quote-figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  
  font-weight: 500;
  line-height: 1.5;
}

.quote-figure.desktop {
  align-items: center;
  text-align: center;
}

.testimonial-with-img .quote-figure.desktop {
  padding: 2em 0;
  align-items: flex-start;
  text-align: left;
}

.quote {
  font-size: 1.5rem;
}

.quote-name {
  font-weight: 700;
}

.testimonial-with-img .quote-title {
  color: inherit;
}

.quote-title {
  color: #6B7280;
}

.title-separator {
  color: #2E59F3;
  font-size: 1.2rem;
  font-weight: 900;
}

.testimonial-with-img .title-separator {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}