@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('./assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
  font-style: normal;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #E5E7EB;
}

main {
  max-width: 992px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4em;
  border: 2px solid orangered;
}

h1 {
  font-family: 'Permanent Marker';
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.section-header {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.33;
}