@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-VariableFont_opsz\,wght.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('./assets/PermanentMarker-Regular.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #E5E7EB;
}

main {
  max-width: 768px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
