* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;

  user-select: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}