.banner {
  display: flex;
  align-items: flex-start;
  gap: .85em;

  border-radius: .375em;
  padding: 1.15em;
  font-size: .875rem;
  line-height: 1.5;
}

.banner-icon {
  margin-top: .15em;
}

.banner-title {
  font-weight: 500;
}

.banner-text {
  margin-bottom: .6em;
}