.banner {
  display: flex;
  align-items: flex-start;
  gap: .75em;
  
  font-size: .875rem;
  line-height: 1.5;
  
  padding: 1.15em;
  border-radius: .5em;
}

.banner-body {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.banner-img {
  height: 1.5em;
  width: 1.5em;
}

.banner-body {
  width: 85%;
}

.banner-title {
  font-weight: 500;
}